.collapsible {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
  .collapsible-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
  }
  
  .arrow {
    margin-right: 15px;
    margin-left: 15px;
    transition: transform 0.3s;
    font-weight: 500;
  }
  
  .arrow.open {
    transform: rotate(90deg);
  }
  
  .collapsible-content {
    padding: 10px;
  }