
.search-field{
    width: 400px;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    background-color: white;
    border-radius: 0px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
    position: fixed;
    top: 0;
    z-index: 10;
  }
