.movie-card-container {
    display: flex;
    align-items: center;
    margin: 0;
    flex-grow: 1;
}

.movie-card-container img {
    max-height: 50px;
    width: auto;
    margin: 10px 0px 10px 10px
}

.movie-card-container-title {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.movie-card-container-title a {
    font-size: 18px;
    font-weight: bold;
    color: #000; /* Adjust color as needed */
    text-decoration: none;
    margin-bottom: 5px;
}

.movie-card-container-title a:hover {
    text-decoration: underline;
}

.movie-card-container-title p {
    font-size: 14px;
    color: #555; /* Adjust color as needed */
    margin: 0;
}

.movie-card-container .unicode {
    background-color: transparent;
    border: none;
    font-size: x-large;
    margin-right: 15px;
    margin-left: auto;
}

.movie-card-container button:hover {
    cursor: pointer;
}

.movie-card-menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    right: 0;
    margin-right: 35px;
    margin-top: 30px;
    align-items: start;
    border: 1px solid #555;
}

.movie-card-menu-container {
    width: 150px;
    background: white;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: small !important;
    z-index: 10;
}

.movie-card-menu-container button {
    background: transparent;
    border: none;
    padding: 10px;
    z-index: 11;
    width: 100%;
    text-align: start;
    padding: 10;
}

.movie-card-menu-container button:hover {
    text-shadow: 0px 0px 1px black;
    color: black;
    cursor: pointer;
}